
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in melon_object%}
        <tr>
            <td>{{melon.common_name}}</td>
            <td>{{cart[melon.melon_id]}}</td>
            <td>{{'%.2f' % melon.price}}</td>
            <td>{{'%.2f' % costs[melon.melon_id]}}</td>
        </tr>
        {% endfor%}
        </tbody>
    </table>

    <h3>Total: ${{total}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
